*.xwbt
*.ncd
*.gise
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.html
*.xml
*.map
*.ngm
*.xrpt
*.csv
*.txt
*.log
/xlnx_auto_0_xdb
/xst
/_xmsgs
/iseconfig
